h2{
	display: block;
	border: 1px solid #db7904;
	min-height: 22px;
	line-height: 22px;
	font-weight: bold;
	font-size: 14px;
	background: #db7904;
	color: #ffffff;
	padding: 3px;
	margin-bottom: 5px;
	text-transform: uppercase;
	clear: both;
}
h3{
	font-size: 16px;
	font-weight: bold;
/*	margin-bottom: 10px;*/
	color: #0d3082;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 a{
	color: #0d3082;
}
p{
	margin-top: 6px;
	margin-bottom: 12px;
}
h4{
	font-size:15px;
	font-weight:bold;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#0d3082;
	color:#000000;
/*	clear: both;*/
}
h5{
	font-size:14px;
	font-weight:bold;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#0d3082;
/*	clear: both;*/
}
h6{
	font-size:13px;
	font-weight:bold;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#0d3082;
	color:#000000;
/*	clear: both;*/
}
ACRONYM {
	border-bottom: 1px dotted #CCCCCC;
	cursor: help;
}
ABBR{
	border-bottom: 1px dashed #CCCCCC;
	cursor: help;
}
.clear{
	clear: both;
}
ol, ul{
	margin-left: 30px;
	margin-bottom: 12px;
}

li{
	color:#333333;
	margin-top: 3px;
	list-style-position: inside;
}
li ol,
li ul{
	margin-bottom: 0px;
}

INPUT, SELECT, TEXTAREA{
	border: 1px solid;
}
.obligatoire{
	color: #FF0033;
	font-style:italic;
}

.signature{
	font-style: italic;
	text-align: right;
}

TABLE{
	text-align: left;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse;
	border: 1px solid #0d3082;
	border: 1px solid #7e7e7e;
}

TH{
	border: 1px solid #0d3082;
	border: 1px solid #7e7e7e;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}

THEAD TH{
	background-color: #0d3082;
	color:#FFFFFF;
	text-align: center;
}

TBODY TH{
	color: #0d3082;
	text-align: right;
}
TBODY TR:nth-child(even){
	background-color: #F7F7F7;
}
TD{
	border: 1px solid #0d3082;
	border: 1px solid #7e7e7e;
	padding: 2px;
}
TD P{
	margin-bottom: 0px;
}
CAPTION{
	font-style: italic;
	caption-side:top;
	color: #0d3082;
}

/* page des actus */
.actu h3{
	margin-top: 2px !important;
	margin-bottom: 3px !important;
	color: #0d3082;
	font-size: 13px;
	font-weight: bold;
}
.actu{
	clear: both;
	position: relative;
	border-top: 1px solid #667ba9;
	margin-top: 10px;
}
.entry-readmore{
	position: relative;
	height: 20px;
	clear: left;
}
.entry-readmore a{
	border: 1px solid #ee8d17;
	background:url(../images/fd_titre_orange.png) repeat-x center #ee8d17;
	display: block;
	position: absolute;
	right: 0px;
	width: 70px;
	height: 18px;
	line-height: 18px;
	padding-right: 5px;
	vertical-align:middle;
	color: #FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 13px;
	text-align: right;
	font-weight:bold;
}
.entry-categories{
}
.entry-summary, .entry-content{
	text-align: justify;
}
.entry-content{
	clear: both;
}
.entry-thumbnail{
	display: inline-block;
	margin-top: 6px;
	margin-right: 12px;
	float: left;
}
.entry-thumbnail IMG{
	padding: 0px;
	margin: 0px;
/*	box-shadow: 2px 2px 2px #000000;*/
}
.alignleft{
	margin-right: 6px;
	margin-bottom: 6px;
	float: left;
}
.alignright{
	margin-left: 6px;
	margin-bottom: 6px;
	float: right;
}
.aligncenter{
	margin-left :auto;
	margin-right :auto;
	text-align: center;
}
.post-date{
	text-align: right;
	font-size: 11px;
	font-style: italic;
}
.navigation{
}
#nav-above{
}
#nav-below{
	clear: both;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #667ba9;
}
.post-previous,
.nav-previous{
	float: left;
	width: 50%;
	text-align: left;
	margin-bottom: 12px;
}
.post-next,
.nav-next{
	float: left;
	width: 50%;
	text-align: right;
	margin-bottom: 12px;
}
.post-categories{
	margin-top: 10px;
	clear: both;
}
.post-categories SPAN{
	display: none;
}
.post-categories A{
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	background: #FFFFCC;
}
.entry-date{
	font-size: 11px;
	font-style: italic;
}
